{
  "parser": "@typescript-eslint/parser",
  "plugins": [
     "@typescript-eslint",
     "simple-import-sort"
  ],
  "extends": [
     "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    // "semi": ["error","never"],
     "simple-import-sort/imports": "error"
  }
}
