.image-editor-view {
    border: 0px solid red;
    display: grid;
    width: 100%;
}

.image-editor-canvas-wrapper {
    border: 1px solid var(--border-color);
    overflow: scroll;
}
.image-editor-view  .divider {
    border: 0px solid red;
}

.image-editor-view .divider .handler {
    border: 1px solid black;
    background-color: black;
    border-radius: 0rem;
    user-select: none;
    position:absolute;
    right:0;
    bottom:0;
    width: 20px;
    height:20px;
}


