.image-editor-view {
    border: 0px solid red;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.image-editor-canvas-wrapper {
    border: 1px solid var(--border-color);
    overflow: scroll;
}

