.prop-sheet .prop-sheet-contents {
  border: 0px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  align-items: center;
  justify-content: center;
  min-width: 15rem;
  align-self: stretch;
  align-content: start;
}
.prop-sheet .prop-sheet-contents > * {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem;
}
.prop-sheet header {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0;
}

.prop-sheet label {
  grid-column-start: 1;
  text-align: right;
}
.prop-sheet input,
.prop-sheet .value {
  grid-column-start: 2;
  grid-column-end: 3;
  min-width: 1rem;
  justify-self: stretch;
  text-align: left;
}
.prop-sheet input[type="checkbox"] {
  justify-self: start;
}

.prop-sheet .prop-sheet-contents.sub-object {
  border: 1px solid black;
  background-color: #cccccc;
  min-width: 10rem;
}
