.tile-sheet-editor {
    border: 0px solid red;
    display: grid;
    grid-template-columns: 250px 2fr;
    grid-template-rows: auto;
}
.scrolling-column {
    border: 0px solid green;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

