/* general */
.list-view {
  border: 0px solid black;
  padding: 0rem;
  margin: 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
.list-view > .list-item {
  padding:0;
  margin:0;
  border: 3px solid black;
  border-width: 0 3px 3px 0px;
  display: flex;
  flex-direction: row;
}

.list-item {
  background-color: #dddddd;
  color: black;
}
.list-item.selected {
  background-color: cyan;
  color: black;
}


.toolbar {
  border: 1px solid black;
}


button {
  border: 1px solid #333;
  background: #ddd;
  color: #333;
}
button:hover {
  background: #fff;
}
button.selected {
  background: aqua;
  color: #333;
}
button.selected:hover {
  background: aquamarine;
}
button.selected:active {
  background: #fff;
}


.pane {
  border: 1px solid black;
  border-width: 0 1px 1px 0;
  display: flex;
  flex-direction: column;
}
.pane header {
  background-color: #333333;
  color: white;
  padding: 0.5rem;
}


.sheet-list .list-item div {
  width: 100%;
}

.palette {
  background-color: black;
}
.palette-color {
  border: 1px solid transparent;
}
.palette-color.transparent {
  border: 5px solid cyan;
}
.palette-color.selected {
  border-color: white;
}

.tile-preview {
  border: 1px solid transparent;
  margin:0;
  padding: 0;
  background: black;
  image-rendering: pixelated;
}
.tile-preview.selected {
  border-color: white;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sheet-list {
  width: 15rem;
  height: 200px;
  flex-direction: column;
  border: 1px solid red;
  align-content: stretch;
  align-items: stretch;
}

.tile-list {
  width: 15rem;
  height: 200px;
}

.tile-properties {
  min-width: 10rem;
}
