body {
    --selected-background-color: cyan;
    --selected-border-color: white;
    --pane-border: #444;
    font-size: 10pt;
    font-family: sans-serif;
    padding:0;
    margin:0;
}

.main-content {
    border: 0px solid black;
    display: grid;
    grid-template-columns: 10rem 1fr 15rem;
    grid-template-rows: auto 1fr;
    width: 99vw;
    height: 99vh;
    overflow: clip;
}
.across {
    grid-column-start: 1;
    grid-column-end: 4;
}

.pane {
    border: 1px solid var(--pane-border);
    /*border-width: 0 1px 1px 0;*/
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    border-width: 0 1px 1px 0;
}
.pane header {
    background-color: #333333;
    color: white;
    padding: 0.5rem;
}

/*#root {*/
/*  border: 0px solid red;*/
/*  box-sizing: border-box;*/
/*  width: 90vw;*/
/*  height: 100vh;*/
/*  max-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/


/* general */



button {
  border: 1px solid #333;
  background: #ddd;
  color: #333;
  padding: 0.25rem 0.5rem;
}
button:hover {
  background: #fff;
}
button.selected {
  background: var(--selected-background-color);
  color: #333;
}
button.selected:hover {
  background: aquamarine;
}
button.selected:active {
  background: #fff;
}

.toolbar {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    border-width: 0px 1px 1px 0px;
    align-items: center;
}
.toolbar > label {
    padding: 0.25rem 0.5rem;
}
.toolbar > button {
    border: 0px solid black;
    border-width: 0px 1px 0px 0px;
}


/*.props-sheet {*/
/*  border: 1px solid var(--pane-border);*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  list-style: none;*/
/*}*/
/*.props-sheet li {*/
/*  padding: 0.5rem;*/
/*}*/
/*.props-sheet li b {*/
/*  padding-right: 1rem;*/
/*}*/
/*.props-sheet li input {*/
/*  background-color: #dddddd;*/
/*  border: 1px solid black;*/
/*  border-radius: 5px;*/
/*  padding: 0.25rem;*/
/*}*/
/*.props-sheet li input:focus {*/
/*  background-color: white;*/
/*}*/



/*.sheet-list .list-item div, .map-list .list-item div {*/
/*  width: 100%;*/
/*}*/



/*.sheet-list, .map-list, .test-list {*/
/*  flex-direction: column;*/
/*  border: 1px solid var(--pane-border);*/
/*  align-content: stretch;*/
/*  align-items: stretch;*/
/*}*/

/*.tile-list {*/
/*  width: 20rem;*/
/*  height: 200px;*/
/*}*/

/*.tile-properties {*/
/*  min-width: 10rem;*/
/*}*/

/*.standard-form {*/
/*  border: 0px solid red;*/
/*  display: grid;*/
/*  grid-template-columns: 1fr 2fr;*/
/*  justify-content: center;*/
/*  align-items: baseline;*/
/*}*/
/*.standard-form label {*/
/*  justify-self: end;*/
/*  padding-right: 1rem;*/
/*}*/
