.list-view {
    border: 0px solid black;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: auto;
}

.list-view.horizontal-wrap {
    border: 0px solid yellow;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-view.vertical-fill {
    border: 0px solid blue;
    flex-direction: column;
    align-items: stretch;
}


.list-view > .list-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #dddddd;
    color: black;
}

.list-view > .list-item.selected {
    background-color: var(--selected-background-color);
    border-color: var(--selected-border-color);
    color: black;
}


.std-list-item {
    padding: 0.5rem;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex: 1.0;
}
