.map-editor {
    border: 1px solid black;
}
.map-editor .sheet-list {
    width: 200px;
}
.map-editor .tile-list-view {
    width: 320px;
    height: 200px;
}
.map-editor .layer-list-view {
    width: 200px;
}
.map-editor-canvas-wrapper {
    overflow: scroll;
    border: 0px solid green;
    /*flex: 1.0;*/
    width: 800px;
    height: 400px;
}
