.toaster-view {
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  font-size: 300%;
  /*width: 200px;*/
  /*height: 100px;*/
  padding: 1rem;
  position: fixed;
  bottom: 15px;
  right: 50px;
}
