.divider {
  border: 4px solid black;
  border-width: 0 2px 0 0;
  /*justify-self: center;*/
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}
.divider .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 0px solid red;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.divider .handler {
  border: 1px solid black;
  background-color: black;
  border-radius: 0rem;
  user-select: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
}
